<h1>ジャンル一覧</h1>

<%= form_with model: @genre do |f| %>
  <%= f.label :ジャンル名 %>
  <%=f.text_field:name %>
  <%=f.submit "新規登録" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>ジャンル</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <%= @genres.each do |genre| %>
    <tr>
      <td><%=genre.name %></td>
      <td><%=link_to edit_admin_genre(@genre.id) do %>編集する<% end %></td>
    </tr>
  <% end %>
  </tbody>
</table>
