<h2>ログイン</h2>

<%#= form_with model:@custmer,url: customer_session_path do |f| %>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :メールアドレス %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :パスワード %>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>
  
  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>


<% end %>

<%#= render "public/shared/links" %>
<div class="link_sign_up">
  <p>会員登録がお済みでない方</br>
  <%=link_to"こちら", new_customer_registration_path %>から新規登録を行ってください</p>
</div>
