<div class="container">

<div="row mx-auto">
<h4 class="col-7 font-weight-bold"style="margin-left:90px;">
商品一覧<span>(全<%=@items.count%>件)</span>
</h4>
</div>

<div class="col-8 d-flex flex-row flex-wrap mx-auto">
<% @items.each do |item| %>
<div class="flex-column flex-wrap ">
  <%=link_to item_path(item.id) do %><%=image_tag item.get_image(150,300),class: "mr-5"%><% end %>
  <p><%=link_to item_path(item.id) do %><%=item.name %><% end %></p>
  <p><span>¥</span><%= item.with_tax_price.to_s(:dalimited) %></p>
</div>
<% end %>
</div>

<div class="row mx-auto">
  <div class="col-lg-2 mx-auto">
<%= paginate @items%>
  </div>
</div>


</div>

