<%=image_tag @item.get_image(200,350) %>
<%=@item.name %></br>
<%=@item.introduction %></br>
<span>¥</span><%= @item.add_tax_price.to_s(:dalimited) %>(税込)
<%=form_with model: @item do |f| %>
 <%= f.select :amount, *[1..10], include_blank: "個数選択" %>
 <%= f.hidden_field :title %>
<% end %>
<%=link_to "カートに入れる",cart_items_path  %>